.event {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
}

.card {
  width: 759px;
  padding: 35px;
  background: #ffffff;
  border-radius: 8px;

  h2 {
    margin-bottom: 25px;
  }

  li::before {
    width: 20px;
    height: 20px;
    content: '';
    background-image: url('../../public/images/events/ok.svg');
  }
}

.registrationBlock {
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  width: 213px;
  height: 192px;
  padding: 20px;

  button {
    padding: 20px;
    background: #fff;
    border: 1px solid #aa139b;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 15px 53px;
    color: #aa139b;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  svg {
    margin-right: 10px;
  }

  p {
    span {
      color: #aa139b;
    }
  }
}
