.button {
  background-color: #aa139b;
  border-radius: 6px;
  width: 100%;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.33px;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transition: 0.2s;
    background-color: #d126c0;
  }

  &:disabled {
    cursor: auto;
    background-color: #501f4b;
  }
}
