.login {
  width: 425px;
  margin: 0 auto;
  margin-top: 75px;
  .header {
    margin-bottom: 10px;
    h1 {
      display: block;
      width: 425px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 44px;
      letter-spacing: -0.64px;
      color: #032d23;
      margin: 0;
    }
    span {
      color: #aa139b;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 44px;
      letter-spacing: -0.64px;
    }
  }

  .checkboxPassword {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #032d23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;

    p {
      margin: 0;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .footer {
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #032d23;

    a {
      margin-left: 20px;
      font-weight: 600;
      color: #aa139b;

      &:hover {
        color: #aa139b;
      }
    }
  }
}
