.card {
  border: none;
  background: #ffffff;
  border-radius: 8px;
  width: 240px;
  height: 292px;
  padding: 15px;
  text-align: left;
  margin-left: 40px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}
