.card {
  margin-top: 40px;
  border: none;
  background: #ffffff;
  border-radius: 8px;
  width: 240px;             
  height: 100%;
  padding: 15px;
  text-align: left;
  margin-left: 40px;
  cursor: pointer;

  span {
    margin-left: 10px;
  }

  p {
    display: flex;
    align-items: center;
  }
}
