.newsItem {
  text-align: center;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #fff;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  padding: 5px;
  background-color: blueviolet;
  color: #fff;
  text-align: center;
}

.description {
  padding: 2px;
}
