.profile {
  overflow-y: scroll;
  width: 100%;
  background: #e5e5e5;
  height: calc(100vh - 120px);
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  padding-right: 0;
  margin-right: 20px;

  h3 {
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
  }

  .rightBlock {
    margin-left: 20px;
    max-width: 600px;
    width: 100%;

    .title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      margin-left: 10px;
      color: #1e1e1f;
    }

    .item {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      padding: 20px;
      height: 90px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 15px;
      max-width: 625px;
      color: #000000;
      justify-content: space-between;

      img {
        width: 70px;
        height: 45px;
        border-radius: 2px;
        margin-right: 20px;
      }

      .location {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: center;
          color: #000000;
          margin: 0;
        }

        p:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  .leftBlock {
    padding: 40px;
    width: 420px;
    height: 856px;
    background: #ffffff;
    border-radius: 8px;

    .points {
      margin: 0 auto;
      background: #aa139b;
      border-radius: 50px;
      width: 140px;
      height: 45px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #ffffff;
      text-align: center;
      margin-top: 32px;
      margin-bottom: 50px;
      padding-top: 4px;
    }

    .avatar {
      display: block;
      margin: 0 auto;
      width: 115px;
      height: 115px;
      border-radius: 50%;
    }

    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: -0.33px;
      color: #000000;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    width: 1px;
    border: 1px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #c4c4c4;
    border-radius: 20px;
  }
}
.contact {
  display: flex;
  align-items: center;
  .infomation {
    margin-left: 15px;
    span {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }
  height: 47px;
  margin-top: 20px;
}

.mainUserData {
  display: flex;
  justify-content: space-between;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  span {
    color: #c4c4c4;
  }
}

.achieves {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  min-width: 600px;
  padding: 40px;
  margin-bottom: 30px;
}

.inputBlock {
  width: 600px;
  height: 470px;
  background: #fff;
  margin-bottom: 30px;
  padding: 50px;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #c4c4c4;

    div {
      display: flex;
      width: 352px;
      justify-content: space-between;

      .day {
        width: 51px;
        position: relative;
        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .birth {
        width: 100px;

        &:last-child {
          width: 72px;
        }
      }
    }

    input {
      outline: none;
      width: 352px;
      border: 0;
      border-bottom: 1px solid #c4c4c4;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      padding-bottom: 10px;
      color: #000000;
      margin-bottom: 20px;
    }
  }
}
