.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fdfafa;
  height: calc(100vh - 120px);
  width: 237px;

  button {
    width: 160px;
    padding: 15px 34px 15px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    height: 50px;

    span {
      margin-left: 20px;
    }

    &:hover {
      border: 1px solid #f1d7ec;
    }

    &:active {
      background-color: rgba(170, 19, 155, 0.15);
    }

    &:last-child {
      padding-right: 70px;
    }
  }

  .active {
    background-color: rgba(170, 19, 155, 0.15);
  }
}
