$text-color: rgb(255, 255, 255);
$bg-color: rgba(232, 90, 230, 0.824);

$svg-color: rgb(82, 223, 255);

// * links
$link-color: blue;
$link-color-hover: rgb(255, 123, 0);

// * buttons
$button-border: rgb(255, 0, 0);
$button-color: rgb(205, 73, 73);
$button-bg-hover: red;
$button-color-hover: #fff;

// * vacansies
$vacan-text-color: rgb(44, 221, 221);
$vacan-bg-color: #696f79;

// * navigation
$nav-text-color: #abc632;
$nav-bg-color: #b1e122;

// * profile
$profile-bg-color: #2f6cd0;

// * login
$login-prod-name: #7e22e1c6;